<div>
    <a href="/" class="btn btn-outline-primary mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left inline-block pr-3" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        Back
    </a>

    <div *ngIf="question | async; let loadedQuestion">
        <div class="row">
            <h2 class="mb-4" data-cy="question-details-heading">Question details</h2>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{loadedQuestion.title}}</h5>
                    <p class="card-text">{{loadedQuestion.message}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">From: {{loadedQuestion.creationDate | date}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

